@CHARSET "ISO-8859-1";

body{
	background-color: #ECF#FD;
}

.conteiner{
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	font-size: 85%
	
}
.ui-state-default #icon-login{
	background-image: url(../iconos/iconosicono_srp.png);
}